# que no se suma venv 
.venv/
# Ignorar archivos de configuración de IDEs
.vscode/
.idea/
# Ignorar archivos de logs
*.log
# Ignorar archivos temporales de sistema operativo
.DS_Store
Thumbs.db
# Ignorar archivos compilados de Python
__pycache__/
*.pyc
# Ignorar archivos de Ansible Vault
*.vault
# Ignorar archivos de salida de playbooks
*.retry
# Ignorar archivos de configuración local
ansible.cfg