{# Interface Trunk Configuration Template #}
!
{% for interface in interfaces -%}
{% if interface.mode == "trunk" -%}
interface {{ interface.name }} 
  description {{ interface.description }}
  switchport {{ interface.mode }} encapsulation dot1q
  {% if interface.trunk_mode != "auto" -%}
  switchport mode dynamic {{ interface.trunk_mode }}
  {% endif -%}
  switchport trunk allowed vlan {{ interface.allowed_vlans }}
!
{% endif -%}
{% endfor -%}
