{# VLANs configuration template #}

# Device - {{inventory_hostname}}

## Configuraciónes de VLANs

### hostname: {{inventory_hostname}}

```
!
{% for vlan in vlans %}
vlan {{ vlan.id }}
 name {{ vlan.name }}
!
{% endfor %}
```
